# Managed by ars-linux/profile_d
if [ -n "${BASH_VERSION:-}" ] && [ -f /usr/share/blesh/ble.sh ]; then
    if command -v blesh-share >/dev/null 2>&1 || [ -f /usr/share/blesh/ble.sh ]; then
        source /usr/share/blesh/ble.sh --noattach
    fi
fi
