# Managed by ars-linux/profile_d
if command -v carapace >/dev/null 2>&1; then
    if [ -n "${BASH_VERSION:-}" ]; then
        source <(carapace _carapace bash)
    elif [ -n "${ZSH_VERSION:-}" ]; then
        source <(carapace _carapace zsh)
    fi
fi
