[defaults]
roles_path = roles
gather_subset = !all,min
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
callbacks_enabled = profile_tasks
forks = 1
timeout = 60

[privilege_escalation]
become_method = sudo

[ssh_connection]
pipelining = True
